/* universal style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

.sub-title {
    font-family: "Nunito Sans", sans-serif;
    color: #91916C;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    border-bottom: 3px solid #91916C;
    padding: 24px 38px;
    max-width: 288px;
}

.title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
}

/* universal style */

/* Contact us style */
#contact-us {
    background-color: #91916C;
}

.contact-us__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px 0;
    background-color: #fff;
}

.contact-us-wrapper {
    text-align: center;
    margin-bottom: 82px;
    padding-top: 42px;
}

.contact-us-wrapper > h2 {
    color: #fff;
}

.contact-us-content {
    display: flex;
    align-items: center;
    gap: 0 62px;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 27px 0;
}

.form input {
    padding: 15px 25px;
    outline: none;
    border: none;
    background-color: #E1E1C266;
    border-radius: 8px;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
}

.form input::placeholder {
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
}

.form-input {
    display: flex;
    gap: 0 10px;
}

.form-btn {
    background-color: #E5A985;
    padding: 15px 25px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    transition: .3s;
}

.form-btn:hover {
     background-color: #ed935a;
}

.contact-us__img {
    position: relative;
    bottom: -71px;
}

/* Contact us style */